@charset "utf-8";
@font-face {
  font-family: "HsSantoki";
  src: url("https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HS-Regular.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "HsSantoki", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
ol,
ul {
  list-style: none;
}
#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(16, 100%, 98%);
}
/* app */
#app {
  overflow: hidden;
  background-color: #fff7f4;
  background-image: url(../public/images/bg-img.png);
  background-repeat: no-repeat;
  width: 360px;
  height: 640px;
  border: 1px solid #222;
  border-radius: 1rem;
  h1 {
    font-size: 24px;
    text-align: center;
    padding-top: 3em;
  }
  p:nth-of-type(1) {
    padding-top: 0.5rem;
    font-size: 64px;
    text-align: center;
    line-height: 3.4rem;
  }
  p:nth-of-type(2) {
    display: none;
  }
}
#categories {
  position: relative;
  overflow: hidden;
  h2 {
    font-size: 20px;
    text-align: center;
    font-family: "Pretendard";
    margin: 0 auto;
  }
  ul {
    /* background-color: aqua; */
    overflow: hidden;
    li:nth-of-type(1) {
      cursor: pointer;
      margin: 0.5rem 0;
      font-size: 30px;
      width: 262px;
      height: 262px;
      position: relative;
      img {
        position: absolute;
        top: 30px;
        left: -30px;
        transform: rotate(-12deg);
        scale: 1.1;
      }
      p {
        position: absolute;
        font-size: 30px;
        text-align: center;
        top: 80px;
        left: 20px;
        transform: rotate(18deg);
        color: #fff;
      }
    }
    li:nth-of-type(2) {
      cursor: pointer;
      margin: 0.5rem 0;
      font-size: 30px;
      width: 239px;
      height: 240px;
      position: relative;
      img {
        position: absolute;
        top: -250px;
        right: -130px;
        scale: 1.1;
      }
      p {
        position: absolute;
        font-size: 30px;
        text-align: center;
        line-height: 2.5rem;
        top: -240px;
        right: -70px;
        transform: rotate(-18deg);
        color: #fff;
        white-space: pre-wrap;
      }
    }
    li:nth-of-type(3) {
      cursor: pointer;
      margin: 0.5rem 0;
      font-size: 30px;
      width: 249px;
      height: 231px;
      position: relative;
      img {
        position: absolute;
        top: -330px;
        left: -10px;
        transform: rotate(-12deg);
        scale: 1.2;
      }
      p {
        position: absolute;
        font-size: 30px;
        text-align: center;
        top: -300px;
        left: 50px;
        line-height: 2.5rem;
        transform: rotate(-12deg);
        color: #fff;
        white-space: pre-wrap;
      }
    }
    li:nth-of-type(4) {
      cursor: pointer;
      margin: 0.5rem 0;
      font-size: 30px;
      width: 389px;
      height: 389px;
      position: relative;
      img {
        position: absolute;
        top: -620px;
        right: 0px;
        scale: 1.3;
        transform: rotate(5deg);
      }
      p {
        position: absolute;
        font-size: 30px;
        text-align: center;
        top: -560px;
        right: 60px;
        line-height: 2.5rem;
        transform: rotate(5deg);
        color: #fff;
        white-space: pre-wrap;
      }
    }
  }
}

/* quiz-pag  */

#quiz-page {
  position: relative;
  .cotainer-part {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
      p {
      font-size: 16px;
      text-align: center;
      background-color: #000;   
      color: #fff;
      border-radius: 3rem;
      scale: 0.7;
    }
  }
  P:nth-of-type(1) {
    font-family: "HsSantoki", sans-serif;
    padding: 0 32px;
    text-align: left;
    font-size: 24px;
  }
  p:nth-of-type(2) {
    font-family: "Pretendard";
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    line-height: 1.4rem;
    display: flex;
    padding: 0 32px;
  }
  ul{
    margin-top: 1rem;
    gap: 0.8rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    li{
      display: flex;
      justify-content: center;
      flex-direction: column;
      background-color: #F2644D;
      width: 296px;
      height: 65px;
      border-radius: 2rem;
      text-align: center;
      font-size: 24px;
      color: #fff;
    }
  }
  h3 {
    margin-top: 1rem;
    text-align: center;
    font-family: "Pretendard";
    font-size: 16px;
  }
  p:nth-of-type(3){
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-top: 1rem;
    color: #fff;
    text-align: center;
    background-color: #000;
    width: 360px;
    height: 60px;
    bottom: -100px;
  }
}





















@media all and (max-width: 360px) {
  #app {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
  }
}
